a {
	outline: none;
}

.list-item {
	position: relative;
	cursor: pointer;
}

.list-data {
	/*background-color: blue;*/
	bottom: 0;
	height: 100px;
	width: 100%;
	padding: 10px 5px 0px 5px;
	position: absolute;
}

.list-data-sort {
	/*background-color: red;*/
	bottom: 0;
	height: 130px;
	width: 100%;
	padding: 10px 5px 0px 5px;
	position: absolute;
}

.list-data-small-text {
	font-size: 12px;
}

.list-data-normal-text {
	font-size: 16px;
}

.list-cover {
	margin: 3px;
	margin-bottom: 100px;
}

.list-cover-sort {
	margin: 3px;
	margin-bottom: 130px;
}

.list-cover-missing {
	border: 10px solid pink;
}

.list-cover-not-missing {
	border: 10px solid #FEFEFE;
}

.hidden {
	display: none;
}

.padding-top {
	padding-top: 9px;
}

@media screen and (max-width: 640px) {
	.small-text-center {
		text-align: center;
	}
}

.red {
	color: #f00;
}

.green {
	color: #008000;
}

.orange {
	color: #EB9100;
}

.black {
	color: #000;
}

.height250px {
	height: 250px;
}

.cursor-pointer {
	cursor: pointer;
}

.left-menu {
	display: block;
	width: 100%;
	padding: 10px 0px 10px 30px;
	list-style-type: none;
}

.left-menu:hover {
	background-color: #fff;
}

.menu-text {
	cursor: pointer;
}

.width1p {
	width: 1%;
}

.width100p {
	width: 100%;
}

.nowrap {
	white-space: nowrap;
}

.mw130px {
	min-width: 130px;
}

.button {
	margin: 0;
}
.button-margin-bottom-1rem {
	margin-bottom: 1rem;
}

table .button, table select {
	margin: 0;
}

table tbody th, table tbody td {
	padding-right: 0;
}

.bookicon {
	color: #000;
	font-size: 22px;
}

.opacity02 {
	opacity: 0.2;
}

.log-in-form {
  border: 1px solid #cccccc;
  padding: 25px;
  border-radius: 5px;
}

.menu .vertical {
	width: 220px;
}

.sticky {
    z-index: 5;
}

.install-body {
	background-color: #f1f1f1;
}

.overflowxauto {
	overflow-x: auto;
}

.search_in_progress {
	height: 60px;
}

#footer {
	padding: 10px 0px 10px 0px;
	background-color: #2E3037;
	color: #fff;
	width: 100%;
}

#footer a:link, #footer a:visited {
	color: #fff;
}

#footer a:hover {
	color: #eee;
}